@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@600&family=Arimo&display=swap");

body {
  overflow: hidden;
}
.chat-window {
  display: flex;
  flex-direction: row;
}

.friends-list-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(136, 133, 133, 0.5);
  width: 18rem;
  height: 96.3vh;
}

.friends-list-container::-webkit-scrollbar {
  width: thin !important;
  background-color: transparent !important;
}

.friends-list {
  display: flex;
  flex-direction: column;
  overflow: auto !important;
}

.members-list {
  width: 15rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -15rem;
  height: 96.3vh;
  background-color: white;
  border-left: solid 1px rgba(136, 133, 133, 0.3);
  float: left;
  visibility: hidden;
  transition: all 0.4s;
  z-index: 1;
}

.members-list-open {
  visibility: visible;
  transition: all 0.4s;
  transform: translate(-15rem);
}

.group-leave {
  text-align: center;
  font-family: "Catamaran", sans-serif;
  font-size: 1.2rem;
  color: white;
  background-color: crimson;
  padding: 0.4rem 0.5rem;
  width: 6rem;
  margin: 3rem auto;
  border-radius: 0.3rem;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.search-area {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0.8rem 0;
  border-bottom: 1.5px solid rgba(136, 133, 133, 0.3);
  align-items: center;
}

.search-area input {
  font-size: 1rem;
  padding: 0.3rem 0.5rem !important;
}

.search-area .fa-plus-square {
  margin-left: 0.5rem;
  color: rgba(136, 133, 133, 0.3);
  cursor: pointer;
}

.friend-info,
.member-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}

.friend-info {
  border-bottom: 1.5px solid rgba(136, 133, 133, 0.3);
}

.friend-info img,
.member-info img {
  height: 2.5rem;
  margin-right: 0.8rem;
  border-radius: 0.4rem;
}

.friend-info span,
.member-info span {
  cursor: default;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-window-current-title {
  display: flex;
  padding: 0.54rem;
  flex-direction: row;
  border-bottom: 1.5px solid rgba(136, 133, 133, 0.3);
  align-items: center;
  width: 100%;
}

.chat-window-current-title .fa-ellipsis-h {
  position: absolute;
  right: 1rem;
}

.chat-groups-operations {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  width: 12rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  position: absolute;
  align-items: center;
  z-index: 1;
}

.chat-groups-operations span {
  cursor: pointer;
  width: 12rem;
  text-align: center;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
}

.chat-groups-operations span:hover {
  background-color: skyblue;
  color: white;
}

.chat-groups-operations span:nth-child(1):hover {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.chat-groups-operations span:nth-child(2) {
  padding-top: 0.5rem;
  padding: 0.7rem;
}

.chat-groups-operations button {
  margin: 0.5rem;
}

.chat-message-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: 60vh;
  overflow: auto !important;
}

#group-notification {
  font-family: "Arimo", sans-serif;
  color: gray;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.chat-message {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
}

.chat-message img {
  height: 2.5rem;
  border-radius: 0.4rem;
}

.chat-message .message-receive {
  margin-left: 1rem;
}

.chat-message .message-sent {
  margin-right: 1rem;
}

.chat-message-sent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.chat-window-current-title img {
  height: 2.5rem;
  border-radius: 0.4rem;
  margin-right: 0.8rem;
}

@media screen and (max-width: 50rem) {
  .friends-list-container {
    display: none;
  }
}

.chat-input {
  text-align: center;
}

.chat-input textarea {
  border: 1.5px solid rgba(136, 133, 133, 0.5);
  border-radius: 0.3rem;
  width: 98%;
  font-size: 1rem;
  padding: 0.5rem;
  height: 20vh;
  letter-spacing: 0.03rem;
  margin-top: 0;
  resize: none;
}

.chat-input textarea:focus {
  outline: none;
}

.chat-input p {
  text-align: left;
  margin-left: 1%;
  margin-top: 0.8rem;
  font-family: "Catamaran", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.01rem;
  color: rgba(136, 133, 133, 0.8);
}

/* Create-Group-Form */

.create-group-form .group-form {
  letter-spacing: 0.02rem;
  align-items: flex-start;
}

.create-group-form h3 {
  color: rgb(80, 183, 224);
}

.create-group-form p {
  text-align: left;
  color: rgba(136, 133, 133, 0.4);
  margin-bottom: 0.1rem;
}

.create-group-form p:nth-of-type(2) {
  margin-bottom: 0rem;
}

.create-group-form input {
  border: 1.2px rgba(136, 133, 133, 0.4) solid;
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 0.3rem;
}

.create-group-form input:focus {
  outline: none;
}

.create-group-form-imgs-wrapper {
  display: flex;
  justify-content: center;
  width: 18rem;
}

.create-group-form img {
  margin-top: 0.4rem;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-right: 1rem;
  margin-left: 0;
  margin-bottom: 1rem;
  cursor: pointer;
}

.create-group-form img:nth-of-type(1) {
  border: 1px solid #b9bbdf;
}

.create-group-form img:nth-of-type(2) {
  border: 1px solid #30e3ca;
}

.create-group-form img:nth-of-type(3) {
  border: 1px solid #daa5e5;
}

.create-group-form img:nth-of-type(4) {
  border: 1px solid #fce38a;
}

.group-image-hide {
  opacity: 0;
  transition: 0.4s;
}

.create-group-form button {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

#create-group-form-create,
#join-group-form-join {
  color: cornflowerblue;
  border: 1px cornflowerblue solid;
}

#create-group-form-create:hover,
#join-group-form-join:hover {
  color: white;
  background-color: cornflowerblue;
}

/* Join-Group-Form */

.join-group-form img {
  width: 5rem;
  border-radius: 50%;
  margin-bottom: 0;
}

.join-group-form h3 {
  margin-top: 1rem;
  padding-top: 0;
}

.join-group-form button {
  margin: 0.5rem;
  margin-top: 1rem;
}
