.chat-window {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.friends-list-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(136, 133, 133, 0.5);
  width: 18rem;
  height: 96.5vh;
}

.friends-list-container::-webkit-scrollbar {
  width: thin !important;
  background-color: transparent !important;
}

.friends-list {
  display: flex;
  flex-direction: column;
  overflow: auto !important;
}

.search-area {
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
  border-bottom: 1.5px solid rgba(136, 133, 133, 0.3);
}

.search-area input {
  font-size: 1rem;
  padding: 0.3rem 0.5rem !important;
}

.friend-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1.5px solid rgba(136, 133, 133, 0.3);
}

.friend-info img {
  height: 2.5rem;
  margin-right: 0.8rem;
  border-radius: 0.4rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-window-current-title {
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  border-bottom: 1.5px solid rgba(136, 133, 133, 0.3);
  align-items: center;
  width: 100%;
}

.chat-message-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  overflow: auto !important;
}

.chat-message {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
}

.chat-message img {
  height: 2.5rem;
  border-radius: 0.4rem;
}

.chat-message .message-receive {
  margin-left: 1rem;
}

.chat-message .message-sent {
  margin-right: 1rem;
}

.chat-message-sent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.chat-window-current-title img {
  height: 2.5rem;
  border-radius: 0.4rem;
  margin-right: 0.8rem;
}

@media screen and (max-width: 50rem) {
  .friends-list-container {
    display: none;
  }
}
