.login-page {
  background: linear-gradient(#b2ebf2, #848ccf);
  width: 100%;
  height: 100vh;
}

.login-form-wrapper {
  display: flex;
  justify-content: center;
}

.login-form-wrapper .register-form input:nth-of-type(2) {
  font: small-caption;
  letter-spacing: 0.03rem;
}

.login-form-wrapper .register-form input:nth-of-type(2)::placeholder {
  font-size: 1rem;
  letter-spacing: 0;
}

.login-form-wrapper .register-form h2 {
  color: #b2ebf2;
}
