.navbar {
  background-color: #242a2e;
}

.fa-comments {
  color: white;
}

.fa-comments:hover {
  cursor: pointer;
}

.navbar span {
  cursor: pointer;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-nav img {
  height: 2.5rem;
  border-radius: 0.4rem;
  margin-right: 0.4rem;
}

.navbar-nav li {
  cursor: pointer;
}

.fa-angle-down {
  color: white;
}

.fa-bell {
  margin-right: 1.5rem;
  /* color: rgb(238, 67, 101); */
  color: #aeb1be;
}

.red-bell .fa-bell {
  color: rgb(240, 74, 107);
}

.navbar-brand span {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  margin-left: 1rem;
  font-weight: 550;
  letter-spacing: 0.1rem;
}

#sign-out-button {
  color: crimson;
  position: absolute;
  background-color: white;
  right: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  top: 3.5rem;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1;
}

#sign-out-button:after {
  content: " ";
  position: absolute;
  right: 5px;
  top: -5px;
  border-top: none;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid white;
}

#sign-out-button:hover {
  color: white;
  background-color: crimson;
}

#sign-out-button:hover:after {
  border-bottom: 7px solid crimson;
}

#notification {
  position: absolute;
  top: 3.5rem;
  right: 5rem;
  background-color: white;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0.2rem 1rem;
  width: 17rem;
}

#notification:after {
  content: " ";
  position: absolute;
  right: 1.1rem;
  top: -0.5rem;
  border-top: none;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid white;
}

#notification ul {
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -3rem;
  display: flex;
}

#notification li p {
  margin-bottom: 0.6rem;
  font-family: "Arimo", sans-serif;
  font-size: 1.05rem;
}

#notification li:not(:first-child) {
  border-top: 1px solid rgba(136, 133, 133, 0.4);
  padding-top: 0.6rem;
  width: 17rem;
  text-align: center;
}

.notification-buttons-wrapper {
  display: flex;
  justify-content: center;
}

.notification-buttons-wrapper button {
  margin-left: 0.4rem;
}

#notification li {
  margin-left: 0;
  padding-left: 0;
  margin-top: 1rem;
}

.navbar-nav button {
  background-color: #242a2e;
  padding: 0.5rem 0.5rem;
  margin-right: 1rem;
  border-radius: 0.4rem;
}

.navbar button:focus {
  outline: none;
}

#login-button {
  border: 1px #79d6e2 solid;
  color: #79d6e2;
}

#login-button:hover {
  background-color: #79d6e2;
  color: white;
}

#register-button {
  border: 1px solid #f8c27c;
  color: #f8c27c;
}

#register-button:hover {
  background-color: #f8c27c;
  color: white;
}

.navbar-nav .continue-button:nth-child(1) {
  margin-right: 1rem !important;
}

#no-notification {
  margin-top: 0.8rem;
  font-size: 1.05rem;
  font-family: "Arimo", sans-serif;
}
